<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="jumbotron text-centex">
    <h3 style="color:blue" class="text-center"> Home Page  </h3>
    </div>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="background-color: rebeccapurple">
<a href="/studentform"> Add A Student </a> </div>
        <div class="col-md-4" style="background-color: gray">
<a href="/studenttestform"> Add A Test </a> </div>
        <div class="col-md-4" style="background-color: olivedrab">
<a href="/showlist"> List of students with </a></div>

</div>
</div>
</body>
</html>